<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Book Appointment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Timeslots Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/customer-dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Book Appointment</h1>
    <div th:if="${param.success}">
        <div class="alert alert-info">
            You have successfully booked the appointment!
        </div>
    </div>
    <form id="createForm" th:action="@{/appointments}" th:object="${appointment}" method="post">
        <div class="form-group">
            <label for="photographerSelect">Select a Photographer</label>
            <select id="photographerSelect" class="form-control">
                <option value="">Select a photographer</option>
                <option th:each="photographer : ${photographers}" th:value="${photographer.userID}"
                        th:text="${photographer.name + ' ' + photographer.surname}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="timeSlotSelect">Select a Time Slot</label>
            <select id="timeSlotSelect" class="form-control">
                <!-- Time slots will be populated here using JavaScript -->
            </select>
        </div>
        <div class="form-group">
            <label for="photoshootSelect">Select a Photoshoot</label>
            <select id="photoshootSelect" class="form-control">
                <!-- Photoshoot services will be populated here using JavaScript -->
            </select>
        </div>
        <input type="hidden" id="customer" name="customer" th:value="${appointment.customer}"/>

        <button type="submit" class="btn btn-primary">Book Appointment</button>
    </form>
</div>

<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ready(function () {
        var daysOfWeek = [null, 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

        var today = new Date();
        $('#photographerSelect').change(function () {
            var photographerId = $(this).val();
            if (photographerId) {
                // Fetch time slots for the selected photographer
                $.ajax({
                    url: '/timeslots/photographer/' + photographerId,
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        var timeSlotSelect = $('#timeSlotSelect');
                        timeSlotSelect.empty();
                        $.each(data.content, function (index, timeSlot) {
                            if (timeSlot === undefined || timeSlot.booked === true) {
                                return true;
                            }
                            var diff = timeSlot.dayOfWeek - today.getDay();
                            // If already passed, add 7 days
                            if (diff < 0) {
                                diff += 7;
                            }
                            var futureDate = new Date();
                            futureDate.setDate(today.getDate() + diff);
                            var dayOfWeek = daysOfWeek[futureDate.getDay()];
                            console.log(timeSlot.startTime + " - " + timeSlot.endTime);
                            var optionText = ' (' + dayOfWeek +
                                ')';
                            optionText += " " + timeSlot.startTime + ' - ' + timeSlot.endTime;
                            timeSlotSelect.append($('<option></option>').attr('value', timeSlot.timeSlotID).text(optionText));
                        });
                    }
                });

                // Fetch photoshoot services for the selected photographer

                $.ajax({
                    url: '/photoshoots/photographer/' + photographerId,
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (data) {
                        var photoshootSelect = $('#photoshootSelect');
                        photoshootSelect.empty();
                        $.each(data.content, function (index, photoshoot) {
                            if (photoshoot === undefined) {
                                return true;
                            }
                            var optionText = photoshoot.name + ' - ' + photoshoot.price + '€';
                            photoshootSelect.append($('<option></option>').attr('value', photoshoot.photoshootID).text(optionText));
                        });
                    }
                });
            }
        });
    });


    $(document).ready(function () {
        $('#createForm').on('submit', function (e) {
            e.preventDefault();

            var customer = $('#customer').val();
            var photographer = $('#photographerSelect').val();
            var timeslot = $('#timeSlotSelect').val();
            var photoshootEntity = $('#photoshootSelect').val();

            $.ajax({
                url: '/appointments',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    customer: customer,
                    photoshootEntity: photoshootEntity,
                    timeslot: timeslot,
                    photographer: photographer
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    Swal.fire('Appointment booked successfully!');
                    $.ajax({
                        url: '/timeslots/' + timeslot,
                        type: 'PATCH',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            booked: true,
                            photographer: photographer
                        }),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                    $('#photographerSelect').val('');
                    $('#timeSlotSelect').empty();
                    $('#photoshootSelect').empty();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });

</script>
</body>
</html>