<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Customer Dashboard</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">User Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <h1 class="my-4" th:text="'Welcome, ' + ${customerName} + '!'"></h1>
    <div class="row">
        <!-- Card to manage appointments -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book an appointment</h5>
                    <p class="card-text">Click on the button below to make an appointment</p>
                    <a th:href="@{/book-appointment}" class="btn btn-primary">Book an appointment</a>
                </div>
            </div>
        </div>
        <!-- Card to show all customer reservations -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Your bookings</h5>
                    <p class="card-text">Click on the button below to show your reservations</p>
                    <a class="btn btn-primary">View bookings</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>