<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Photoshoots</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <h1 class="my-4">Manage Photoshoots</h1>

    <!-- Modal for creating a new photoshoot -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Photoshoot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for creating a new photoshoot -->
                    <form th:action="@{/photoshoots}" th:object="${photoshoot}" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" th:field="*{name}" placeholder="Name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" th:field="*{price}" placeholder="Price" class="form-control" id="price">
                        </div>

                        <!-- Include the CSRF token -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for editing a photoshoot -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Photoshoot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing a photoshoot -->
                    <form id="editForm" th:action="@{/create}" method="post">
                        <div class="form-group">
                            <label for="editName">Name</label>
                            <input type="text" id="editName" name="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editPrice">Price</label>
                            <input type="text" id="editPrice" name="price" placeholder="Price" class="form-control">
                        </div>

                        <!-- Include the CSRF token -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" id="editId" name="id">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Table for displaying existing photoshoots -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">
                <!-- Button trigger modal for creating a new photoshoot -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    +
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the photoshoots and display their details -->
        <tr th:each="photoshoot : ${photoshoots.content}">
            <td th:text="${photoshoot.name}" class="name"></td>
            <td th:text="${photoshoot.price}" class="price"></td>
            <td>
                <!-- Button for editing the photoshoot -->
                <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#editModal"
                        th:data-photoshoot-id="${photoshoot.photoshootID}">Edit
                </button>
                <button type="button" class="btn btn-danger delete-button"
                        th:data-photoshoot-id="${photoshoot.photoshootID}">Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.edit-button').on('click', function () {
                var row = $(this).closest('tr');
                var name = row.find('.name').text();
                var price = row.find('.price').text();
                var id = $(this).data('photoshoot-id');

                $('#editName').val(name);
                $('#editPrice').val(price);
                $('#editId').val(id);

                $('#editForm').attr('action', '/editPhotoshoot/' + id);
            });
        });


        $(document).on('click', '.delete-button', function (e) {
            e.preventDefault();
            var photoshootId = $(this).data('photoshoot-id');
            $.ajax({
                url: '/photoshoots/' + photoshootId,
                type: 'DELETE',
                success: function (result) {
                    // Do something with the result
                    location.reload(); // Reload the page to see the changes
                }
            });
        });

        $(document).ready(function () {
            $('.edit-button').on('click', function () {
                var id = $(this).data('photoshoot-id');
                var name = $('#editName').val();
                var price = $('#editPrice').val();

                $.ajax({
                    url: '/photoshoots/' + id,
                    type: 'PUT',
                    data: {
                        name: name,
                        price: price
                    },
                    success: function (result) {
                        // Do something with the result
                        location.reload(); // Reload the page to see the changes
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>