<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Manage Photoshoots</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Photoshoots Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/photographer-dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <h1 class="my-4">Photoshoots</h1>

    <!-- Modal for creating a new photoshoot -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Photoshoot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for creating a new photoshoot -->
                    <form id="createForm" th:action="@{/photoshoots}" th:object="${photoshoot}" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" th:field="*{name}" placeholder="Name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" th:field="*{price}" placeholder="Price" class="form-control" id="price">
                        </div>
                        <input type="hidden" id="photographerId" th:field="*{photographer}"/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for editing a photoshoot -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Photoshoot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing a photoshoot -->
                    <form id="editForm">
                        <div class="form-group">
                            <label for="editName">Name</label>
                            <input type="text" id="editName" name="name" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editPrice">Price</label>
                            <input type="text" id="editPrice" name="price" placeholder="Price" class="form-control">
                        </div>
                        <!-- Include the CSRF token -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" id="editId" name="id">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Table for displaying existing photoshoots -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">
                <!-- Button trigger modal for creating a new photoshoot -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    +
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the photoshoots and display their details -->
        <tr th:each="photoshoot : ${photoshoots.content}">
            <td th:text="${photoshoot.name}" class="name"></td>
            <td th:text="${photoshoot.price}" class="price"></td>
            <td>
                <!-- Button for editing the photoshoot -->
                <button type="button" class="btn btn-primary edit-button" data-toggle="modal" data-target="#editModal"
                        th:data-photoshoot-id="${photoshoot.photoshootID}">Edit
                </button>
                <button type="button" class="btn btn-danger delete-button"
                        th:data-photoshoot-id="${photoshoot.photoshootID}">Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        var photographerID = $('#photographerId').val();

        $(document).ready(function () {

            $('#createForm').on('submit', function (e) {
                e.preventDefault();

                var name = $('#name').val();
                var price = $('#price').val();


                console.log(JSON.stringify({
                    name: name,
                    price: price,
                    photographer: photographerID
                }));
                console.log(photographerID);
                console.log(token);
                console.log(header);

                $.ajax({
                    url: '/photoshoots',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: name,
                        price: price,
                        photographer: photographerID
                    }),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (response) {
                        window.location.href = "/manage-photoshoots";
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        $(document).on('click', '.edit-button', function (e) {
            e.preventDefault();

            // Ottieni l'ID del photoshoot e i valori correnti
            var photoshootId = $(this).data('photoshoot-id');
            var name = $(this).closest('tr').find('.name').text();
            var price = $(this).closest('tr').find('.price').text();

            // Imposta i valori nel form di modifica
            $('#editId').val(photoshootId);
            $('#editName').val(name);
            $('#editPrice').val(price);

            // Mostra il form di modifica
            $('#editModal').modal('show');
        });


        $(document).ready(function () {
            $('#editForm').on('submit', function (e) {
                e.preventDefault();

                var name = $('#editName').val();
                var price = $('#editPrice').val();
                var photoshootId = $('#editId').val();

                console.log(photoshootId);

                $.ajax({
                    url: '/photoshoots/' + photoshootId,
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        name: name,
                        price: price,
                        photographer: photographerID
                    }),
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function (response) {
                        window.location.href = "/manage-photoshoots";
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });


        $(document).on('click', '.delete-button', function (e) {
            e.preventDefault();
            var photoshootId = $(this).data('photoshoot-id');
            $.ajax({
                url: '/photoshoots/' + photoshootId,
                type: 'DELETE',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (result) {
                    location.reload(); // Reload the page to see the changes
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

    </script>
</div>
</body>
</html>